/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: roboto;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* reset css end */

/* Project css start */

/*Header*/
.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    padding: 2%;
    width: 100vw;
    .logo {
        margin-right: 1.7em;
    }
    .title {
        height: 2em;
        vertical-align: middle;
    }
}

.logo-container {
    height: 3.5em;
    display: flex;
    align-items: center;
}

.header-nav-container {
    position: absolute;
    display: flex;
    height: 100%;
    max-width: 85%;
    right: 0;
    top: 0;
    margin-right: 10%;
    align-items: center;
    & .header-nav-link {
        color: #ffffff;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        line-height: 24px;
        text-decoration: none;
        margin-left: 12em;
    }
}

/*LeftSide screen whit navBar*/
.side-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 73lh;
    width: 7em;
    background-color: #000000;
    .side-bar-icon {
        width: 4em;
        height: 4em;
    }
    .side-bar-icon-link {
        width: 4em;
        height: 4em;
        margin-bottom: 1.5em;
    }
}

/* main */
.page-container {
    display: flex;
    width: 100lvw;
}
.main-section {
    width: 100lvw;
}

/* main title */
.main-title {
    font-size: 56px;
    line-height: 24px;
    margin-bottom: 1em;
    font-weight: 700;
}

.main-title-text {
    font-size: 32px;
}

.main-title-container {
    padding: 5%;
    height: 10em;
    margin-bottom: 2em;
}

.title-name {
    color: #ff0000;
}

/* Main graph*/
.barGraphTitle {
    position: absolute;
    margin-left: 10%;
    font-weight: 600;
}

.recharts-container {
    display: flex;
}

.bar-line-title {
    color: #ffffff;
    padding: 1.2em;
    position: absolute;
}

.linegraph-container {
    width: 26%;
    background-color: #ff0000;
    border-radius: 3%;
    margin-left: 3%;
}

.bottom-graph {
    margin: 3rem 0 3rem 3rem;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.radar-container {
    width: 26%;
    background-color: #282d30;
    border-radius: 3%;
}

.scores-container {
    display: flex;
    align-items: center;
    width: 258px;
    height: 124px;
}

.scoreGraphText {
    position: absolute;
    margin: 7em 10px 0 7em;
    width: 5%;
}

.scoreGraphText:nth-child(1) {
    margin-top: 110px;
    font-weight: 800;
}

.left-graph-section {
    width: 80%;
}

/* stats right side sceen */
.right-graph-section {
    margin-right: 10%;
}

.stat-icon > img {
    width: 60px;
    height: 60px;
}

.stat-value {
    color: #282d30;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 8px;
}

.stat-name {
    margin-left: 10px;
}

.score-title {
    position: absolute;
    margin-top: 25px;
    font-weight: 600;
}

.score-pourcentage {
    font-size: 24px;
    margin-bottom: 5px;
    padding: 6%;
}

.score-text {
    margin-top: 5px;
    font-weight: 500;
    color: #a7a6a6;
    line-height: 1.5em;
}

/* .recharts-wrapper {
    height: 240px;
} */
